<launch>
  <arg name="laser_offset_x" />
  <arg name="laser_offset_y" />
  <arg name="leave_meetpoint_min_dist" />
  <arg name="leave_meetpoint_max_dist" />

  <node name="gvg_mapper" pkg="gvg_mapper" type="gvg_mapper" output="screen" args=" ">
    <param name="laser_distance_x" value="$(arg laser_offset_x)" />
    <param name="laser_distance_y" value="$(arg laser_offset_y)" />
    <param name="leave_meetpoint_min_dist" value="$(arg leave_meetpoint_min_dist)" />
    <param name="leave_meetpoint_max_dist" value="$(arg leave_meetpoint_max_dist)" />
    <param name="relocalize_epsilon" type="double" value="0.0" />
    <param name="closest_distance_threshold" value="0.3" type="double" />
    <param name="exploration_policy" value="1" />    <!-- random walk = 0, ear-based = 1 -->
    <param name="vertex_matching_policy" value="0" />       <!-- strictly odometry based = 0, full oracle = 1, vertex matching = 2 -->
    <param name="edge_length_threshold" value="1.0" type="double" />   <!-- cut-off threshold when comparing edge lengths (bearing matching) -->
  </node>
</launch>
